* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: white;
  border-color: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  z-index: 1;
  width: 80%;
  position: relative;
}


.images {
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.images img {
  width: 22%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}



.pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto; 
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}
.active{
  opacity: 0;
}
.pop-up-image{
 
 padding: 0px 5% 0px  5%;
  margin: auto;
  justify-content: space-between;
  width: 100%;

  display: flex;
  position: absolute;
  top: 46%;
}


.pop-up img {
  width:  83%; /* Ensures the image fits within the pop-up */
  
  object-fit: contain; /* Maintains the aspect ratio */
  border-radius: 8px;
} 
.cross{


  left: 100%;
   
    font-size: 5rem;
    top: 0%;
    position: absolute;
  
}

.rightSwip{
  font-size: 5em;
}

.leftSwip{
  font-size: 5em;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }

  .images img {
    height: 244px;
    width: 31%;
}
  

  .pop-up {
  
    width: 50%;

  }
  .pop-up img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}
.pop-up {
  width: 60%;
}
.container {
  z-index: 1;
  width:75%;
  position: relative;
}
.pop-up-image{
  
  padding: 0px 1% 0px 1%;
}
}

@media (max-width: 768px) {
  .container {
    width: 95%;
  }

  .images img {
    height: 179px;
    width: 31%;
  }
 .cross{
  
    font-size: 3rem;
    

 }
 .pop-up {
  width: 60%;
}
.rightSwip{
  font-size: 3em;
}

.leftSwip{
  font-size: 3em;
}
.container {
  z-index: 1;
  width: 85%;
  position: relative;
}
.pop-up-image{
  
  padding: 0px 1% 0px 1%;
}
}





@media (max-width: 425px) {
  .images{
    gap: 10px;
  }
  .images img {
      height: 114px;
      width: 48%;
  }
  .pop-up img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.rightSwip{
  font-size: 2em;
}

.leftSwip{
  font-size: 2em;
}
.pop-up-image{
  top: 50%;
}
.pop-up {
  width: 60%;
}
.pop-up-image{
  
  padding: 0px 1% 0px 1%;
}
}

@media (max-width: 375px) {
  .images{
    gap: 10px;
  }
  .images img {
      height: 114px;
      width: 48%;
  }
  .pop-up img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.rightSwip{
  font-size: 2em;
}

.leftSwip{
  font-size: 2em;
}
.pop-up-image{
  top: 50%;
}
.pop-up {
  width: 60%;
}
}


@media (max-width: 320px) {
  .images{
    gap: 10px;
  }
  .images img {
      height: 114px;
      width: 48%;
  }
  .pop-up img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

.rightSwip{
  font-size: 1.5em;
}

.leftSwip{
  font-size: 1.5em;
}
.pop-up-image{
  top: 50%;
}
.pop-up {
  width: 60%;
}
}
